body{
    background-color: #000;
    color: rgb(65, 201, 17) !important;
    font-family: 'Open Sans';
}
.navbar {
    background-color: #512e3c ;
    font-size: 13px;
    wline-height: 1.4;
    border: 0;
    border-radius: 0;
    letter-spacing: 2px;
    font-family: 'Open Sans' !important;
}
.navbar li a , .navbar, .navbar-brand {
    color: #FFF !important;
}
.navbar-nav li a:hover{
    color: #101d44 !important;
    background-color: #FFF !important;
}
.navbar #nav > .active > a {
    color: #101d44 !important;
    background-color: #FFF !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*nav{
    background-color: #01579B !important;
    color: #FFF !important;

}*/
.main{
    padding: 4%;
    display: inline-block;
}
.reg{
    position: relative;
    margin-top: 10%;
    right: -20%;
}
.intro{
    margin-top: 15%;
    font-weight: 400;
    font-size: 25px;
    padding: 50px;
}

.register{
    margin-top: 10%;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.about{
    margin-top: 16%;
    text-align: center;
    font-family: 'Open Sans';
}
.about > p{
    font-size: 20px;
}
.events_next{
    margin-top: 16%;
    text-align: center;
    width: 100%;
}
.tut{
    background-color: #ff5b57;
    color: #fff8b4;
    padding: 10%;
    border: 5px;
    border-style: double;
    border-color: #000;
}
.weekly{
    background-color: #ff5b57;
    color: #fff8b4;
    padding: 10%;
    border: 5px;
    border-style: double;
    border-color: #000;
}
